#bg {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: verdana, arial
	}
	
A:link {
	text-decoration: none;
	color: #330099
	}

A:visited {
	text-decoration: none
	}

A:hover {
	text-decoration: underline;
	color: #e00004
	}

Pre {
	padding-left: 20px
}

HR {
	height: 1px;
	background-color: #000000;
	border: none
	}

#header-top {
	background-color: #DAEBFF;
	padding: 10px 0 10px
	}

#header-bottom {
	background-color: #DAEBFF;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 2px;
    border-style: solid;
    border-color: #330099;
    border-width: 0 0 2px 0
	}

#header-bottom A:link {
	text-decoration: none;
	color: black
	}

#header-bottom A:visited {
	text-decoration: none;
	color: black
	}


#main {
	vertical-align: top;
	text-align: justify;
	padding: 20px 20px 20px 20px
	}

#main H1, H2, H3, H4, H5, H6 {
	font-family: sans-serif;
	padding-left: 20px;
	margin-bottom: 7px;
	text-align: left;
	}


/* Footer */

#footer {
	text-align: right;
    padding: 0 10px 2px 0;
}

/* Useful styles */

.indented-code {
	padding-left: 20px
	}
