#bg {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: verdana, arial
	}
	
A:link {
	text-decoration: none;
	color: #330099
	}

A:visited {
	text-decoration: none
	}

A:hover {
	text-decoration: underline;
	color: #e00004
	}

#header-top {
	background-color: #DAEBFF;
	padding: 10px 0 10px
	}

#navigation-tl {
	background-color: #DAEBFF
	}

#navigation-l {
	vertical-align: top;
	background-color: #DAEBFF;
	padding: 0 8px 0 8px;
	width: 7em;
	font-weight: bold;
	}

#navigation-l A:link {
	text-decoration: none;
	color: black
	}

#navigation-l A:visited {
	text-decoration: none;
	color: black
	}

/* Button bar */

#v {
	background-image: url('/images/v.png');
	background-position: left;
	background-repeat: repeat-y;
	text-align: center;
	padding-right: 5px
	}

#c {
	height: 25px;
	width: 21px
}

#h {
	background-image: url('/images/h.png');
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
	padding-right: 5px
	}
	
#main {
	vertical-align: top;
	text-align: justify;
	padding: 0 21px 0 0
	}

#main H1, H2, H3, H4, H5, H6 {
	font-family: sans-serif;
	padding-left: 20px;
	margin-bottom: 7px
	}


/* Footer */

#footer-l {
	background-color: #DAEBFF;
	}

#footer-v {
	background-image: url('/images/v.png');
	background-position: left;
	background-repeat: repeat-y;
	text-align: center;
	padding-right: 5px
	}

#footer-inner {
	text-align: right;
	padding: 10px 21px 10 21px
}

/* Useful styles */

.indented-code {
	padding-left: 20px
	}
